/* Default css file for jemdoc. */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppons', sans-serif;
}

body {
	background: white;
	font-family: Georgia, serif;
	padding-bottom: 8px;
	margin: 0;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100; 
}


.logo{
	position: relative;
	font-size: 25px;
	color: #171313;
	text-decoration: none;
	font-weight: 600;
}

.navbar a {
	display: inline-block;
	font-size: 25px;
	color: #100d0d;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
}
.navbar a:hover{
	color: rgb(19, 25, 25);
}
.home{
	position: relative;
	width: 100%;
	justify-content: space-between;
	height: 100vh;
	/* background: url(C:/Users/xnxgg/Pictures/cyber_streetlight.jpg) no-repeat; */
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 70px 10% 0;
}
.btn-box {
	display: inline-block;
	padding: 12px 28px;
	background: aqua;
	border-radius: 40px;
	font-size: 16px;
	color: #081b29;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
}
.btn-box:hover {
	box-shadow: 0 0 5px cyan,
	0 0 25px cyan, 0 0 50px cyan,
	0 0 100px cyan, 0 0 200px cyan
}